@model Audition.Domain.Entities.Product

@{
    ViewBag.Title = "Product Detail - " + Model.Name;
}

<div class="container">
    <p>
        @Html.ActionLink("Back to Search Results", "Index", "Home", null, new {@class = "link"})
    </p>
    <table>
        <tr>
            <td>
                <img src="@Model.ImageUrl" alt="@Model.Name" />
            </td>
            <td class="product-desc" >
                <table>
                    <tr>
                        <td>Brand:</td>
                        <td>@Model.Brand</td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Product Id:</td>
                        <td>@Model.StyleId</td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>@Model.FormattedRegularPrice</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p align="center">
                                @Html.ActionLink("Add to cart", "Index", "Home", null, new { @class = "btn btn-shopping-cart" })
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
</div>

