@using Audition.Resources
@model Audition.Domain.Entities.Product

@{
    ViewBag.Title = StringResource.ProductDetailTitle + " - " + Model.Name;
}

<div class="container">
    <p>
        @Html.ActionLink(StringResource.BackToSearchResultLinkText, "Index", "Home", null, new {@class = "link"})
    </p>
    <table>
        <tr>
            <td>
                <img src="@Model.ImageUrl" alt="@Model.Name" />
            </td>
            <td class="product-desc" >
                <table>
                    <tr>
                        <td>@StringResource.BrandLabel</td>
                        <td>@Model.Brand</td>
                    </tr>
                    <tr>
                        <td>@StringResource.DescriptionLabel</td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>@StringResource.ProductIdLabel</td>
                        <td>@Model.StyleId</td>
                    </tr>
                    <tr>
                        <td>@StringResource.PriceLabel</td>
                        <td>@Model.FormattedRegularPrice</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p align="center">
                                @Html.ActionLink(StringResource.AddToCartButtonText, "Index", "Home", null, new { @class = "btn btn-shopping-cart" })
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    
</div>

